<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <%= render 'posts/profile' %>

      <div class="column is-two-thirds">
        <div class="box">
          <h1 class="title">Pending Requests for <%= @user.name %></h1><BR>
          
          <h2 class="subtitle">Received Requests</h2>

          <% if @received_requests.any? %>
            <% @received_requests.each do |friendship| %>
              <article class="media">
                <figure class="media-left">
                  <p class="image is-48x48">
                    <% if friendship.user.avatar.attached? %>
                      <img src="<%= (url_for(friendship.user.avatar)) %>">
                    <% else %>
                      <img src="https://bulma.io/images/placeholders/128x128.png">
                    <% end %>
                  </p>
                </figure>

                <div class="media-content">
                  <div class="content">
                    <strong><%= link_to friendship.user.name, user_path(friendship.user) %></strong>, @<%= friendship.user.username %>
                  </div>
                </div>

                <div class="media-right">
                  <%= link_to "Accept Request", user_friendships_path(user_id: current_user.id, friendship: {friend_id: friendship.user}), method: :post, remote: true, class: "button is-link" %>
                </div>
              </article>
            <% end %>
            <BR>
          <% else %>
            <div class="content"><blockquote>None.</blockquote></div>
          <% end %>

          <h2 class="subtitle">Sent Requests</h2>

          <% if @sent_requests.any? %>
            <% @sent_requests.each do |friendship| %>
              <article class="media">
                <figure class="media-left">
                  <p class="image is-48x48">
                    <% if friendship.friend.avatar.attached? %>
                      <img src="<%= (url_for(friendship.friend.avatar)) %>">
                    <% else %>
                      <img src="https://bulma.io/images/placeholders/128x128.png">
                    <% end %>
                  </p>
                </figure>

                <div class="media-content">
                  <div class="content">
                    <strong><%= link_to friendship.friend.name, user_path(friendship.friend) %></strong>, @<%= friendship.friend.username %>
                  </div>
                </div>

                <div class="media-right">
                  <%= link_to "Cancel Request", friendship_path(friendship), method: :delete, local: true, data: {confirm: "Really cancel request?"}, class: "button is-link" %>
                </div>
              </article>
            <% end %>
          <% else %>
            <div class="content"><blockquote>None.</blockquote></div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>