<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <%= render 'profile' %>
      <div class="column is-two-thirds">
      <div class="box">
        <h1 class="title">Viewing Post #<%= @post.id %><h1>
        <%= render 'post' %><BR>

        <h2 class="subtitle">Comments (<%= @post.comments.size %>)</h2>
        <%= render partial: 'posts/comment', collection: @post.comments %>

        <%= render partial: 'comments/form' %>
        </div>
      </div>
    </div>
  </div>
</section>