<h1>View Post #<%= @post.id %></h1>

<%= @post.author.name %><BR>
<%= @post.content %>

<h3>Comments (<%= @post.comments.size %>)</h3>
<%= render partial: 'posts/comment', collection: @post.comments %>

<h4>Post a Comment</h4>
<%= render partial: 'comments/form' %>